# Tableau Datasets

In [1]:
import os
import json
import random
import datetime

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Data

In [2]:
# dataset_dir = os.path.join('..','..','datasets','tracks_playlist_dataset')

df1 = pd.read_csv('words_trackID.csv')
df1.head()

,Unnamed: 0,7k9GuJYLp2AzqokyEdwEw2,1KHdq8NK9QxnGjdXb55NiG,2qLMf6TuEC3ruGJg4SMMN6,3S0OXQeoh0w6AY8WQVckRW,5TvE3pk05pyFIGdSY9j4DJ,2DHDuADAHoUW6n0z80RLQF,5JDcQAztvZTIkrWoZihgvC,6xJOhSm4SvZwzy3uhWz26O,7lLKxcNeJtDTWVRKHovLEC,...,4fxF8ljwryMZX5c9EKrLFE,7ojJ4XvqBhBcteM0zjMebT,3AEZUABDXNtecAOSC1qTfo,5MIrspiQcYqNVB5XARdf5l,3DTHLA4DaMpgHrK1fRP2bF,3hPbdPIXZPpyywSxnKNtYh,5VsfM32WcLbMlznpWpprkH,5NetSTs4dgiR6GLrZOQcwJ,1Rvl8qsKJurfFTyWLBI9ib,4HnMrFXdsJYVuXRmPCevxH
0,rock,0,7,23,78,32,4,18,1,0,...,6,13,2,0,0,0,0,0,14,0
1,oldies,0,2,37,165,23,0,22,0,0,...,48,43,1,0,0,0,0,1,78,0
2,classic,0,1,3,12,6,0,1,0,0,...,9,9,0,0,0,0,0,0,17,0
3,party,0,5,76,246,40,4,15,0,2,...,137,17,85,0,0,0,0,60,23,0
4,summer,0,12,114,285,49,33,47,5,4,...,78,28,45,0,0,1,0,64,51,0

In [3]:
df2 = pd.read_csv('artist_words.csv')
df2.head()

,Unnamed: 0,artist,rock,oldies,classic,party,summer,good,chill,old,...,issa,justin,ish,rockalt,tropical,depressing,lounge,david,wow,jukebox
0,0,Badfinger,99,50,72,17,17,35,9,19,...,0,0,0,0,0,0,0,0,0,0
1,1,Hugo,50,4,6,36,38,33,33,11,...,0,1,2,0,0,0,1,0,1,1
2,2,The Dave Brubeck Quartet,2,23,15,27,6,20,28,9,...,0,0,0,0,0,0,8,0,0,0
3,3,311,4,0,0,1,1,1,3,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Jay & The Americans,44,236,45,21,22,55,13,60,...,0,0,0,0,1,0,1,0,1,4

In [4]:
df2[df2['artist'] == 'Kansas']

,Unnamed: 0,artist,rock,oldies,classic,party,summer,good,chill,old,...,issa,justin,ish,rockalt,tropical,depressing,lounge,david,wow,jukebox
1209,1209,Kansas,4703,1897,2908,221,186,414,203,817,...,0,1,1,5,0,3,3,4,3,5

In [5]:
df3 = pd.read_csv('track_features.csv')
df3.head()

,Unnamed: 0,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,7k9GuJYLp2AzqokyEdwEw2,Ross Copperman,Hunger,Hunger,56,205594,False,0.442,0.632,...,-6.770,1,0.0295,0.426,0.004190,0.0735,0.1960,78.899,4,acoustic
1,1,1KHdq8NK9QxnGjdXb55NiG,Landon Pigg,The Boy Who Never,Falling in Love at a Coffee Shop,58,244986,False,0.489,0.561,...,-7.933,1,0.0274,0.200,0.000046,0.1790,0.2380,83.457,3,acoustic
2,2,2qLMf6TuEC3ruGJg4SMMN6,Jason Mraz;Colbie Caillat,We Sing. We Dance. We Steal Things.,Lucky,68,189613,False,0.625,0.414,...,-8.700,1,0.0369,0.294,0.000000,0.1510,0.6690,130.088,4,acoustic
3,3,3S0OXQeoh0w6AY8WQVckRW,Jason Mraz,We Sing. We Dance. We Steal Things.,I'm Yours,75,242946,False,0.703,1.000,...,-9.331,3,0.0417,0.559,0.000000,0.0973,0.7120,150.960,4,acoustic
4,4,5TvE3pk05pyFIGdSY9j4DJ,A Great Big World;Christina Aguilera,Is There Anybody Out There? - Track by Track C...,Say Something,70,229400,False,0.407,1.000,...,-8.822,1,0.0355,0.857,0.000003,0.0913,0.0765,141.284,3,acoustic

## Plot 1: Top Tracks with ___ Vibes

 1. User selects a couple words describing the mood, style, and/or genre of music they want.
 2. Dashboard displays top X most popular songs and and top X most popular artist that show up in playlists titled with those words.

## Plot 2: Artist Vibes 

 3. User can also select an artist from the above list and then a word cloud appears showing frequency of words used for playlists containing their songs